.radio-white label {
    color: white;
}

.app-footer {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #070F2B;
    border: 1px solid #535C91;
    border-radius: 5px;
    color: #9290C3;
}

.app-navbar {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #535C91;
    border-radius: 5px;
    background-color: #070F2B !important;
}

.btn {
    text-align: center;
    border: 1px solid #535C91;
    border-radius: 5px;
}

.btn:hover {
    text-align: center;
    border: 1px solid #535C91;
    border-radius: 5px;
    background-color: #646C9C;
}

.btn:active {
    text-align: center;
    border: 1px solid #535C91;
    border-radius: 5px;
    background-color: #646C9C;
}

.btn:selected {
    text-align: center;
    border: 1px solid #535C91;
    border-radius: 5px;
    background-color: #646C9C;
}

.dropdown {
    color: black;
    background-color: white;
    broder-radius: 10px;
}